<div class="container">
    <!-- creating a cstom event -->
    <!-- Here serverCreated is an Event specified with @Output in Cockpit  -->
    <!-- When this 'event' execute, onServerAdded is acalled herer  -->
    <!-- Event is tehn passed as parameter  -->
    <app-cockpit (serverCreated)="onAddServerAdded($event)" (blueprintCreated)="onAddBlueprintAdded($event)">
    </app-cockpit>
    <button class="btn btn-danger" (click)="onDeleteFirst()">Delete First</button>
    <div class="row">
        <div class="col-xs-12">
            <!-- Element is a 'property' of the COmponent specified using @Input  -->
            <!-- When above event is excuted, the below property recive sdata using @Input  -->
            <!-- [elemnt] is userdefined property created  -->
            <app-server-element [element]="item" *ngFor="let item of serverElements">
                <p #parentParagraph>
                    <strong *ngIf="item.type === 'server'" style="color: red">{{ item.content }}</strong>
                    <em *ngIf="item.type === 'blueprint'">{{ item.content }}</em>
                </p>
            </app-server-element>
        </div>
    </div>

</div>